@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 00px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    background-color: rgb(63, 63, 63);
    text-align: center;font-weight: bold;
    text-decoration: none;
    padding: 20px;
    color: white;
}
